* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

body {
    background-color: lightgrey;
}

header {
    background-color: rgb(70, 71, 71);
}


nav {
    background-color: rgb(70, 71, 71);
    padding: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: flex-end;
}

nav a::after{
    content: ' ';
    width: 0% ;
    display: block;
    height: 1px;
    background:rgb(6, 231, 17);
    position: relative;
    right: 0%;
    transition: all 1s linear;
}

nav a:hover::after{
    width: 100%;
}

nav a {
   color: #2a787c; 
   text-decoration: none;
}

nav li {
    padding-right: 100px;
}

ul {
    list-style: none;
    padding: 10px;
    font-size: 20px;
    display: inline-flex
}

#name {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 45px;
    float: left; 
    background-color: rgb(70, 71, 71);
    padding: 11px;

}

.side {
    width: 33%;
    border-right: 2px solid black;
    background-color: rgb(197, 195, 195);
    color: #2a787c;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
}

#style {
    padding: 50px;
}

#style-2 {
    padding: 8%;
}

#about-me {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
}

#work {
    padding-top: 30px
}


#contact-me {
    padding-top: 30px;
}

#list {
    padding: 4%;
    display: inline-flex;
}

footer li {
    padding-left:50px;
}


#profile {
    width: 15%;
    display: flex;
    justify-content: flex-start;
}

#projects {
    width: 33%;
    position: relative;
    left: 22%
}

@media screen and (max-width: 1128px) {
    nav li{
        padding-right: 70px;
    }
}

@media screen  and (max-width: 1024px) {
    nav li {
        padding-right: 40px;
    }
    #name {
        padding: 23px;
        font-size: 30px
    }

    
}
@media screen and (max-width: 768px) {
    nav li {
        padding-right: 20px;
    }
    #name {
        font-size: 23px;
        padding: 26px;
    }

}


@media screen and (max-width: 554px) {
    nav {
        display: flex;
        justify-content: center;
    }
    ul {
        display: inline-block;
    }
    li {
        padding-top: 10%;
    }
    #name {
        padding: 72px;
        display: flex;
        justify-content: center;
    }
}